.detailsmodel{
    .item-inner{
        padding-right:0 !important;
    }
    .item-ios{
        font-size: 14px;
    }
    .list-ios > .item-block:first-child {
	border-top: none;
    }

  
}
 .btn22 {
    float: right;
    background: none;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    padding-top: 7px;
}