page-forgotpw {
.scroll-content button{
        background: #52bed9 !important;
}
.pic{
    width: 100%;
    float: left;
    margin-bottom: 10vh;
    margin-top: 4vh;
    text-align: center;
    img{
            width: 33%;
    }
}
.toolbar-background{
    background: #3fb1ce;
  
}
 .toolbar-title{ color: #fff !important;}
 .header button{
     color:#fff !important;
 }
}
