<ion-header no-border>
  <ion-navbar color="skyblue">
    <button ion-button menuToggle left>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Test List</ion-title>
    
  </ion-navbar>
</ion-header>

<ion-content class="testlist_doc" padding="true">
 <!--<ion-card no-padding>
  <ion-card-content no-padding *ngFor = "let hero of this.value">
    <ion-item>
      <ion-checkbox checked="false" (ionChange)="datachanged($event,hero.Test.id)" value="hero.Test.test"></ion-checkbox>
      <!--<ion-checkbox no-margin item-right color="skyblue" [(ngModel)] = "check_box"></ion-checkbox>-->
    
      <!--<ion-label>{{hero.Test.test}}</ion-label>
    </ion-item>
 
  </ion-card-content>
</ion-card>-->




<!--////////////////////////////////-->
<ion-list>
  <ion-row class="top_head">
    <ion-col col-4 class="top_cnt">Name</ion-col>
    <ion-col col-4 text-center  class="top_cnt">Reorder</ion-col>
    <ion-col col-4 text-center  class="top_cnt">Fasting</ion-col>
  </ion-row>
  <ion-row  *ngFor = "let hero of this.value; let i = index;" class="box01">
    <ion-col col-4>{{hero.Test.test}}</ion-col>
    <ion-col col-4 text-center>
         <ion-checkbox checked="false" (ionChange)="datachanged($event,hero.Test.id)" value="hero.Test.test" required></ion-checkbox>
    </ion-col>
    <ion-col col-4 text-center>
        <ion-checkbox style="margin-right:0;"  (ionChange)="dataFasting($event,hero.Test.id)" name="check2" color="skyblue"></ion-checkbox>
    </ion-col>
    
    <ion-col col-12>Diagnosis</ion-col>
    <ion-col col-12>
      <textarea  [(ngModel)]="qty[hero.Test.id]"  name="qty-i"  #diagnosis="ngModel"  class="textarea1" colspan="7" placeholder="Enter your diagnosis">
      
      </textarea>
      </ion-col>

<ion-col col-12>Request Date  {{reg | json}}</ion-col>
    <ion-col col-6>
      <ion-datetime placeholder ="YYYY-MM-DD" displayFormat="YYYY-MM-DD" max="2050-12-31" min="{{minDate}}" [(ngModel)]="req[hero.Test.id]"  pickerFormat="YYYY-MM-DD" name="req-i"  #request="ngModel" class="dates"></ion-datetime>
      <!--<ion-input type="date" [(ngModel)]="req[hero.Test.id]"  name="req-i"  #request="ngModel" class="dates"></ion-input>-->
 </ion-col>

    <ion-col col-12>Request Time</ion-col>
    <ion-col col-6>
      <ion-datetime placeholder ="HH : mm" displayFormat="HH : mm A" [(ngModel)]="reqtime[hero.Test.id]"  pickerFormat="HH : mm,a" name="reqtime-i"  #reqt="ngModel" class="dates"></ion-datetime>
      <!--<ion-input type="date" [(ngModel)]="req[hero.Test.id]"  name="req-i"  #request="ngModel" class="dates"></ion-input>-->
 </ion-col>   
  </ion-row>


    <ion-row [ngClass]="{'drawing-active': isDrawing}" class="full_box">
     <ion-col col-12 class="sign">Doctor Or Representative Signature</ion-col>    
    <ion-col>
      <signature-pad [options]="signaturePadOptions" class="full_box" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()" required=""></signature-pad>
    </ion-col>

  </ion-row>


   <button ion-button full color="danger" (click)="clearPad()">Clear</button>
  <button ion-button full color="secondary" (click)="savePad()">Save</button>
 
  <ion-row  class="full_box">

    <ion-col width-80>
      <img [src]="this.signature"/>
    </ion-col>

  </ion-row>
 
</ion-list>


</ion-content>
<ion-footer>
  <ion-toolbar no-border>
    <ion-grid>
  <ion-row>
    <!--<ion-col  *ngIf = "imageToSend == ''">
      <button  ion-button small full color="skyblue" class="skyblue">SEND REQUEST</button>
    </ion-col>-->

     <ion-col>
      
      <button ion-button small full color="blue" (click)="sendrequest()" class="skyblue">SEND REQUEST</button>
    </ion-col> 
    <ion-col>
      <button ion-button small full color="dark" (click)="skippage()" class="skyblue1">SKIP</button>
    </ion-col>
  </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>

<style>
.textarea1 {
    width: 100%;
    font-size: 13px;
    padding: 6px;
}
.box01{
  width: 100%;
  float: left;
  border-bottom:1px solid #999;
  padding-bottom:5px;
  margin-bottom: 5px; 
}
.full_box{
  width:100%;
  float: left;
}
canvas {
    width: 100%;
}
.skyblue{
      color: #fff;
    margin: 0;
    height: 40px;
}
.skyblue1{
      color: #fff;
    margin: 0;
    height: 40px;
}

  </style>