  <ion-header no-border>
    <ion-toolbar color="skyblue">
      <button ion-button menuToggle left>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>History</ion-title>
      <!--<ion-buttons ion-button end  ng-reflect-klass="back-button">-->
      <!--<ion-searchbar [(ngModel)]="myInput" [showCancelButton]="shouldShowCancel" (ionInput)="setFilteredItems()" (ionCancel)="onCancel()"></ion-searchbar>-->
      <!--</ion-buttons> -->
  </ion-toolbar>
  <ion-toolbar>
      <!--<ion-buttons ion-button end  ng-reflect-klass="back-button">-->
      <ion-searchbar [(ngModel)]="name" [showCancelButton]="shouldShowCancel" (ionInput)="setFilteredItems()" (ionCancel)="onCancel()"></ion-searchbar>
      <!--</ion-buttons> -->
  </ion-toolbar>
  </ion-header>


  <ion-content no-padding class="list_doc">
    <ion-list no-padding>
      <ion-item *ngIf="errorValue == 2">
      <ion-item *ngFor="let hero of this.resp">
        <h2>{{hero.Patient.trackingid}}</h2>
        <p ><ion-icon name="time"></ion-icon>{{showdate}}</p>
        <ion-icon item-right padding-left (click)="viewPage(hero.Patient.created,hero.Patient.doctorname)"><img width="20px" src="assets/img/view.png"></ion-icon>
        <ion-icon item-right padding-left (click)="reports(hero.Patient.id)"><img width="20px" src="assets/img/file.png"></ion-icon>
        <button color="skyblue" item-right ion-button (click)="resend(hero.StatusHistory.userid,hero.StatusHistory.testid,hero.StatusHistory.patientid,hero.StatusHistory.doctorid)" >Resend Request</button> 
      </ion-item>
      </ion-item>
      <ion-item *ngIf="errorValue == 0">
      <ion-item *ngFor="let hero of this.searchList">
        <h2>{{hero.Patient.trackingid}}</h2>
        <p ><ion-icon name="time"></ion-icon>{{showdate}}</p>
        <ion-icon item-right padding-left (click)="viewPage(hero.Patient.created,hero.Patient.doctorname)"><img width="20px" src="assets/img/view.png"></ion-icon>
        <ion-icon item-right padding-left (click)="reports(hero.Patient.id)"><img width="20px" src="assets/img/file.png"></ion-icon>
        <button color="skyblue" item-right ion-button (click)="resend(hero.StatusHistory.userid,hero.StatusHistory.testid,hero.StatusHistory.patientid,hero.StatusHistory.doctorid)" >Resend Request</button> 
      </ion-item>
      </ion-item>
      <!--<ion-item>
        <h2>Patients 2</h2>
        <p ><ion-icon name="time"></ion-icon>17 Apr 2017 11:20am </p>
        <ion-icon item-right padding-left><img width="20px" src="assets/img/view.png"></ion-icon>
        <ion-icon item-right padding-left><img width="20px" src="assets/img/file.png"></ion-icon>
        <ion-buttons color="skyblue" item-right ion-button >Resend Request</ion-buttons>
      </ion-item>
      <ion-item>
        <h2>Patients 3</h2>
        <p ><ion-icon name="time"></ion-icon>17 Apr 2017 11:20am </p>
        <ion-icon item-right padding-left><img width="20px" src="assets/img/view.png"></ion-icon>
        <ion-icon item-right padding-left><img width="20px" src="assets/img/file.png"></ion-icon>
        <ion-buttons color="skyblue" item-right ion-button >Resend Request</ion-buttons>
      </ion-item>
      <ion-item>
        <h2>Patients 4</h2>
        <p ><ion-icon name="time"></ion-icon>17 Apr 2017 11:20am </p>
        <ion-icon item-right padding-left><img width="20px" src="assets/img/view.png"></ion-icon>
        <ion-icon item-right padding-left><img width="20px" src="assets/img/file.png"></ion-icon>
        <ion-buttons color="skyblue" item-right ion-button >Resend Request</ion-buttons>
      </ion-item>-->
  </ion-list>

  </ion-content>
