page-schedule {

}

.list_doc{
    p{
        font-size: 10px;
    }
    h2{
        color:skyblue;
    }
}
.customIcon  {
       line-height: 20px;
    float: left;
    padding: 0 9px 0 0px;
}
.card-header{
    .customIcon  {
color:#fff;
    }
}

.schedule_edt{padding: 0 40px 0;}